<div *ngIf="tournament()" class="page">

  <h2>General information</h2>
  <div class="chapterSection">
    <div class="form-field">
      <label for="name">Name</label>
      <input id="name" type="text" pInputText [(ngModel)]="tournament()!.name" required />
    </div>
    <div class="form-field">
      <label for="description">Description</label>
      <textarea id="description" pInputTextarea [(ngModel)]="tournament()!.description"></textarea>
    </div>
    <div class="form-field">
      <label for="country">Country</label>
      <p-select id="description" size="small" [options]="countries" [(ngModel)]="tournamentCountry"
        appendTo="body" placeholder="Country" (onChange)="countrySelected($event.value)" />
      </div>
  </div>

  <h2>Tournament fields</h2>
  <div class="chapterSection">
    <app-tournament-fields-edit
      [(fields)]="tournament()!.fields">
    </app-tournament-fields-edit>
  </div>

  <h2>Tournament days</h2>
  <div class="chapterSection">
    <app-tournament-days-edit
      [tournament]="tournament()!"
      (startDateChange)="onTournamentStartDateChange($event)"
      (endDateChange)="onTournamentEndDateChange($event)">
    </app-tournament-days-edit>
  </div>

  <h2>Divisions and teams</h2>
  <div class="chapterSection">
    <app-tournament-divisions-edit
      [tournament]="tournament()!">
    </app-tournament-divisions-edit>
  </div>

  <div class="p-field" style="margin-top: 20px;">
    <button pButton type="button" label="Save" icon="pi pi-check" (click)="save()"></button>
  </div>

  <div style="height: 100px;"></div>
</div>
