/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

@import "primeicons/primeicons.css";

.timeslotDuration .p-inputnumber-input {
  width: 100px !important;
}

//.dayDate .p-datepicker_ {
//  width: 90px !important;
//  padding: 1px !important;
//}

// .ui-datepicker { z-index: 100000 !important;}
html, body, ion-app, .ion-page {
  height: 100%;
  overflow: auto;
  background-color: rgb(229, 231, 235);
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: blueviolet;
  margin-top: 50px;
  background-color: lightgrey;
  padding: 5px 0;
}

.chapterSection {
  margin: 10px;
}
